<template>
  <div id="material-kit">
    <div :class="{ 'nav-open': NavbarStore.showNavbar }">
      <router-view name="header" />
      <div>
        <router-view />
      </div>
      <router-view name="footer" />
    </div>
  </div>
</template>
<script>

export default {

  mounted(){
    this.getData()
  },
    methods:{
  getData(){
    console.log(this.$api())
  }
  }
  }
</script>
